@model CryptographyEx.Models.BankAccountDp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BankAccountDp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncryptedNumber" class="control-label"></label>
                <input asp-for="EncryptedNumber" class="form-control" />
                <span asp-validation-for="EncryptedNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecryptedNumber" class="control-label"></label>
                <input asp-for="DecryptedNumber" class="form-control" />
                <span asp-validation-for="DecryptedNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
