@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <strong>Request Description:</strong> <code>@Model.RequestDescription</code>
    </p>
}

<p>
    @{string body = $"{Model.RequestId};{Model.RequestDescription}%0D%0A Additional Comments:"; }
    Sorry for the inconvenience. Please contact <a href="mailto:support@mohawkcollege.ca?subject=Site Error&body=@body">support@mohawkcollege.ca</a> for support and/ or to report this error
</p>